<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>Dawn of Light Web Interface</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<frameset rows="120,*" cols="*" frameborder="NO" border="0" framespacing="0">
  <frame src="topframe.htm" name="topFrame" scrolling="NO" noresize >
  <frameset cols="185,*" frameborder="NO" border="0" framespacing="0">
    <frame src="leftframe.htm" name="leftFrame" scrolling="NO" noresize>
    <frame src="srvrinfo.htm" name="mainFrame">
  </frameset>
</frameset>
<noframes><body>

</body></noframes>
</html>
