<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

<title>Dawn of Light Web Interface</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#000000" text="#FFFFFF">

<table cellpadding="0" cellspacing="0" width="100%" bordercolorlight="#999999" bordercolordark="#212020" bgcolor="#05101C">
  <tr>
    <td colspan="3" width="100%">
	    <table border="0" cellpadding="0" cellspacing="0" bgcolor="#05101C">
        <tr> 
          <td valign="top"><IMG src="images/tborder_lt2.gif" width="7" height="7"></TD>
          <td width="100%" style="border-top: 1px ridge white;"><IMG src="images/empty2.gif" width="1" height="1"></TD>
          <td valign="top"><IMG src="images/tborder_rt2.gif" width="7" height="7"></TD>
        </tr>
        <tr valign="middle" bgcolor="#794141">
          <td colspan="3" align="left" style="border-left: 1px ridge white; border-right: 1px ridge white;"><div align="center"><font face="Arial, Helvetica, sans-serif">People currently playing</font></div></TD>
        </tr>
		<tr valign="middle" bgcolor="#05101C">
          <td colspan="3" align="left" style="border-left: 1px ridge white; border-right: 1px ridge white;"><div align="center"> 
			<script type="text/javascript">
			WritePlrTable()
			</script>
			</div></TD>
        </tr>
        <tr> 
          <td valign="top"><IMG src="images/tborder_lb2.gif" width="7" height="7"></TD>
          <td style="border-bottom: 1px ridge white;"><IMG src="/images/empty2.gif" width="1" height="1"></TD>
          <td valign="top"><IMG src="images/tborder_rb2.gif" width="7" height="7"></TD>
        </tr>
      </table>
		</td>
 	</tr>
</table>
</body>
</html>
