name: Build Docker Image and Push
concurrency:
  group: docker_build_push
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to Build to Docker Image'
        required: true

jobs:
  docker_build_push:
    name: Build Docker Image and Push to Docker Hub
    runs-on: ubuntu-20.04
    steps:
      - name: Get Date
        id: getdate
        run: |
          echo "date=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU for Docker
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .github/Docker
          target: release_dotnet
          build-args: |
            GITHUB_API_URL=https://api.github.com/repos/${{ github.repository }}
            BUILD_DATE=${{ steps.getdate.outputs.date }}
            BUILD_VERSION=${{ github.event.inputs.version }}
            VCS_REF=${{ github.sha }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: dawnoflight/dolsharp:edge,dawnoflight/dolsharp:dotnet
      - name: Build and push Sandbox
        uses: docker/build-push-action@v2
        with:
          context: .github/Docker
          target: release_sandbox_dotnet
          build-args: |
            GITHUB_API_URL=https://api.github.com/repos/${{ github.repository }}
            BUILD_DATE=${{ steps.getdate.outputs.date }}
            BUILD_VERSION=${{ github.event.inputs.version }}
            VCS_REF=${{ github.sha }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: dawnoflight/dolsharp:sandbox-edge,dawnoflight/dolsharp:sandbox-dotnet
